* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definisi animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Penerapan animasi ke teks */
.fade-in-text {
  opacity: 0; /* Mulai dari transparan */
  animation: fadeIn 1s ease-in forwards; /* Durasi 2 detik dengan efek ease-in */
}


.video-container {
  display: flex;
  flex-direction: column; /* Mengatur elemen dalam arah kolom (vertikal) */
  justify-content: flex-start;
  align-items: center; /* Tetap di tengah secara horizontal */
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden;
  padding-top: 20px; /* Tambahkan padding atas jika diperlukan */
}

.video-container1 {
  display: flex;
  flex-direction: column; /* Mengatur elemen dalam arah kolom (vertikal) */
  justify-content: center;
  align-items: center; /* Tetap di tengah secara horizontal */
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden;
  padding-top: 20px; /* Tambahkan padding atas jika diperlukan */
}

.video-player {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px; /* Tambahkan jarak bawah antara video dan card */
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; /* Agar card berada di bawah video */
}

  .card-item{
    width: 70%; /* Meningkatkan lebar kartu */
    background: #f7f7f7;
    color: #222;
    padding: 10px; /* Meningkatkan padding untuk ruang dalam kartu */
    box-shadow: 5px 10px 10px 5px rgba(7,10,10,11); 
    border-radius: 10px; /* Menambah radius sudut untuk tampilan yang lebih halus */
  }

  .card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    font-weight: bolder;
    text-align: center;
    overflow-wrap: break-word;
}

.card-title p {
    margin-bottom: 15px; /* Menambahkan jarak antar paragraf */
}

.back-button {
  position: absolute;
  top: 20px; /* Jarak dari atas */
  left: 20px; /* Jarak dari kiri */
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.back-button .arrow-icon {
  font-size: 20px; /* Ukuran ikon panah */
  color: #000000; /* Warna ikon panah */
}

.back-button:hover {
  background-color: #ac0000; /* Warna lebih gelap saat hover */
}
